<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Fruit page</title>
    <link rel="stylesheet" href= "/css/app.css">
</head>
<body>
    <h1> New Fruit page</h1> 
    <form action="/fruits" method="POST">
        User ID: <input type="text" name="userId"/><br/>
        Name: <input type="text" name="name" /><br/>
        Color: <input type="text" name="color" /><br/>
        Is Ready To Eat: <input type="checkbox" name="readyToEat" /><br/>
        <input type="submit" name="" value="Create Fruit"/>
    </form>
</body>
</html>